<!-- <div class="tile">
    <h2>{{ title }}</h2>
    <p>{{ description }}</p>
  </div> -->
<div class="text-center col-12" style="margin-top: 138px;">
  <div class="col-2 mon-tile">
    <div class="tile-icon">
        <img src="./assets/abb_industry_insight.svg" />
    </div>
    <div class="tile-text">
      <a class="btn btn-danger" target="_blank" href="http://20.31.144.114:80/">Grafana</a>
    </div>
</div>

<div class="col-2 mon-tile">
  <div class="tile-icon">
      <img src="./assets/abb_knowlwdge-service-hub.svg" />
  </div>
  <div class="tile-text" style="padding-top: 21px;">
    <a class="btn btn-danger" target="_blank" href="http://20.101.179.47">Alerta</a>
  </div>
</div>


<div class="col-2 mon-tile">
  <div class="tile-icon">
      <img src="./assets/abb_predict360.svg" />
  </div>
  <div class="tile-text" style="padding-top: 21px;">
    <a class="btn btn-danger" target="_blank" href="http://20.93.203.231/">Prometheus</a>
 </div>
</div>

<div class="col-2 mon-tile">
  <div class="tile-icon">
      <img src="./assets/abb_OLM.svg" />
  </div>
  <div class="tile-text" style="padding-top: 21px">
    <a class="btn btn-danger" target="_blank" href="https://abbability.pagerduty.com/incidents">Cachet HQ</a>
  </div>
</div>
</div>